.Thumbnail_section__p9qmo {
    background-color: #080a0e;
    color: #1f2937
}

.Thumbnail_container__E62Ic {
    margin-left: auto;
    margin-right: auto;
    max-width: 90rem;
    padding: 1.5rem;
    width: 100%
}

.Thumbnail_grid__RQb0r {
    display: grid;
    grid-template-columns: repeat(1,minmax(0,1fr));
    justify-content: center;
    grid-gap: 1.5rem;
    gap: 1.5rem
}

.Thumbnail_link__kF8ly {
    background-color: #ffd800;
    margin-left: auto;
    margin-right: auto;
    max-width: 28rem
}

.Thumbnail_link__kF8ly,.Thumbnail_link__kF8ly:focus,.Thumbnail_link__kF8ly:hover {
    -webkit-text-decoration: none;
    text-decoration: none
}

.Thumbnail_image__5XTbe {
    background-color: #67B280;
    border-radius: .25rem;
    height: 11rem;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.Thumbnail_mainDiv__FPM0n {
    margin-top: .5rem;
    padding: 1.5rem
}

.Thumbnail_heading__mwZx2 {
    color: #000;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2rem
}

.Thumbnail_heading__mwZx2:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline
}

.Thumbnail_date__cEluq {
    color: #4b5563;
    font-size: .75rem;
    line-height: 1rem
}

.Thumbnail_tagsDiv__UEOii {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem
}

.Thumbnail_tags__NDR7P {
    color: #374151;
    font-size: .875rem;
    line-height: 1.25rem
}

@media (min-width: 360px) {
    .Thumbnail_container__E62Ic {
        padding:1.5rem 0
    }
}

@media (min-width: 640px) {
    .Thumbnail_grid__RQb0r {
        grid-template-columns:repeat(2,minmax(0,1fr))
    }
}

@media (min-width: 1024px) {
    .Thumbnail_grid__RQb0r {
        grid-template-columns:repeat(3,minmax(0,1fr))
    }
}
